body {
    margin: 10px;
    font-size: 12px;
}

label, button, input {
    margin: 5px;
}

label {
    width: 73px;
}

input {
    width: 60px;
}

input.w240 {
    width: 240px;
}

span.bold {
    font-weight: bold;
}

div.left20 {
    margin-left: 20px;
}

button {
    width: 240px;
}

